<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NoteBoard.DAL.Properties.Settings.Pisagor" connectionString="Data Source=.;Initial Catalog=PisagorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>